<html>
<head>
  <meta charset="utf-8">
  <title >To-Do List App</title>
  <link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="jumbotron text-center">
  <h1>To-Do  List  Application</h1>
  <p class="lead">Welcome to our app! Why So work to brain? save it here! </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Simple Design</h3>
    <p>Simple an classic design to make your work easier and well organized and less complicated Go Easy!</p>
  </div>
  <div class="col-md-4">
    <h3>Create Your Own Profile</h3>
    <p>create your own profile to save your tasks and its completly free platform to save your tasks!</p>
  </div>
  <div class="col-md-4">
    <h3>Secured</h3>
    <p>Your Data and Tasks are completely Protected here and work freely without a tension!</p>
  </div>
</div>
</html>

